<% if @bars.empty? %>
  <div class="alert alert-danger" role="alert">Não existem bares cadastrados até o momento</div>
<% else %>
  <div class="row">
    <% @bars.each do |bar| %>
      <div class="col-md-4" style="margin-bottom: 2em">
        <%= render partial: "shared/bar", locals: {bar: bar} %>
      </div>
    <% end %>
  </div>
<% end %>
